[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HiCcompare"]
	path = HiCcompare
	url = https://github.com/dozmorovlab/hiccompare
	shallow = true
	registered = true
